body{
    background-image: url("images/background.jpg");
    background-size: auto;
    margin: 0px;
}
a{
    text-decoration: none;
    color: darkslategray;
}
    /* Контейнер */
    .container{
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        display: grid;
        grid-template-columns: 180px 1fr 180px;
        grid-template-rows: 70px 1fr 70px;
        background: rgba(220, 220, 220, 0.50);
    }
        /* Шапка */
        .head{
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
            margin-bottom: 10px;
            border-bottom: ridge 3px;
            border-color: whitesmoke;
            background-color: rgba(255, 248, 220, 0.50);
            color: darkslategray;
            display: grid;
        }
            .head_h1{
                grid-row-start: 1;
                grid-row-end: 2;
                margin: 0px;
            }
        /* Блок навигации */
        .nav{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            margin-left: 10px;
            border: ridge 3px;
            border-color: whitesmoke;
            background-color: rgba(255, 248, 220, 0.50);
            color: darkslategray;
        }
            .name_author{
                font-size: 20px;
                margin-top: 5px;
                margin-bottom: 0px;
                text-align: center;
                grid-row-start: 1;
                grid-row-end: 2;
            }
            .image{
                height: 180px;
                display: block;
                margin: 0 auto;
                border: ridge 3px;
                border-color: whitesmoke;
                margin-top: 5px;
                margin-bottom: 10px;
                grid-row-start: 2;
                grid-row-end: 3;
            }
        /* Блок с текстом */
        .heading{
            text-align: center;
        }
        .text{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            margin: 0px 10px 0px 10px;
            border: ridge 3px;
            border-color: whitesmoke;
            background-color: rgba(255, 248, 220, 0.50);
            color: darkslategray;
            overflow: auto;
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;

        }
        .posts{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            margin: 0px 10px 0px 10px;
            border: ridge 3px;
            border-color: whitesmoke;
            background-color: rgba(255, 248, 220, 0.50);
            color: darkslategray;
            overflow: auto;
            display: grid;
            /* grid-template-columns: 1fr 2fr 1fr; */

        }
            .text::-webkit-scrollbar {
                width: 0px;
            }
            
        /* Правый блок */
        .block-right{
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
            margin-right: 10px;
            border: ridge 3px;
            border-color: whitesmoke;
            background-color: rgba(255, 248, 220, 0.50);
            color: darkslategray;
            overflow: auto;
            padding-bottom: 10px;
        }    
            .block-right::-webkit-scrollbar {
                width: 0px;
            }
            .br_h2{
                font-size: 20px;
                margin-top: 5px;
                margin-bottom: 5px;
                text-align: center;
                grid-row-start: 1;
                grid-row-end: 2;
            }            
            .box_but{
                width: 124px;
                margin-left: auto;
                margin-right: auto;
            }
                .button_p{
                    width: 120px;
                    background-color: darkslategray;
                    margin:0px 0px 0px 0px;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 2px 0px 2px 0px;
                    text-align: center;
                    border: ridge 2px;
                    border-color: whitesmoke;
                    color: whitesmoke;
                }
                .button_p:hover{
                    background-color: dimgray;
                }
        /* Подвал */
        .basementx{
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 3;
            grid-row-end: 4;
            border-top: ridge 3px;
            border-color: whitesmoke;
            background-color: rgba(255, 248, 220, 0.50);
            color: darkslategray;
            display: grid;
            grid-template-rows: auto;
            margin-top: 10px ;
            padding-top: 5px;
        }
            .des{
                margin: 0px 0px 0px 20px;
                font-size: 12px;
            }





/* Эмблема */
.foundation{
    background-color: darkslategrey;
    width: 180px;
    height: 57px;
    border-right: 1px solid whitesmoke;
    display: grid;
    grid-template-columns: 56px auto;
    grid-template-rows: auto;
}
    
        .cirIncir{
            grid-column-start: 0;
            grid-column-end: 1;
            background-color: darkslategray;
            border: solid 1px;
            border-color: whitesmoke;
            width: 52px;
            height: 52px;
            border-radius: 100%;
            position: absolute;
            top: 1px;
            left: 1px
        }
            .book{                  /* Обложка книги */
                background-color: lightgrey;
                width: 36px;
                height: 28px;
                position: absolute;
                left: 8px;
                top: 12px;
            }
                .bot_s1{             /* Тень под страницами */
                    background-color: darkgray;
                    width: 32px;
                    height: 1px;
                    position: absolute;
                    bottom: 1px;
                    left: 2px;
                }
                .bot_s2{             /* Тень под страницами */
                    background-color: darkgray;
                    position: absolute;
                    bottom: 0px;
                    left: 3.5px;
                    width: 28.6px;
                    height: 1px;
                }
                    .page{              /* Страница */
                        background-color: PapayaWhip;
                        width: 32px;
                        height: 26px;
                        position: absolute;
                        bottom: 2px;
                        left: 2px;
                    }
                        .page_sl{   /* Тень под страницами лево */
                            background-color: BurlyWood;
                            width: 15.5px;
                            height: 1px;
                            position: absolute;
                            bottom: 0px;
                        }
                        .page_sr{   /* Тень под страницами право */
                            background-color: BurlyWood;
                            width: 15.5px;
                            height: 1px;
                            position: absolute;
                            bottom: 0px;
                            right: 0px;
                        }
                        .page_sl1{  /* Тень под страницами лево ур 1*/
                            background-color: BurlyWood;
                            width: 14px;
                            height: 1px;
                            position: absolute;
                            bottom: 1px;
                            left: 1px;
                        }
                        .page_sr1{
                            background-color: BurlyWood;
                            width: 14px;
                            height: 1px;
                            position: absolute;
                            bottom: 1px;
                            right: 1px;
                        }
                        .page_sl2{  /* Тень под страницами лево ур 2*/
                            background-color: papayawhip;
                            width: 14px;
                            height: 1px;
                            position: absolute;
                            top: -2px;
                            left: 1px;
                        }
                        .page_sr2{
                            background-color: papayawhip;
                            width: 14px;
                            height: 1px;
                            position: absolute;
                            top: -2px;
                            right: 1px;
                        }
                        .page_sl3{  /* Тень под страницами лево ур 3*/
                            background-color: papayawhip;
                            width: 15.5px;
                            height: 1px;
                            position: absolute;
                            top: -1px;
                            left: 0px;
                        }
                        .page_sr3{
                            background-color: papayawhip;
                            width: 15.5px;
                            height: 1px;
                            position: absolute;
                            top: -1px;
                            right: 0px;
                        }
                        .line{  /* Внутренняя тень */
                            background-color: darkgray;
                            width: 1px;
                            height: 26px;
                            position: absolute;
                            bottom: 2px;
                            left: 17.5px;
                        }
    .list{
        grid-column-start: 1;
        grid-column-end: 2;
        position: absolute;
        background-color: papayawhip;
        width: 100px;
        height: 37px;
        top: 10px;
        right: 10px;
        border-radius: 5%;
    }
        .site-name{
            margin: 0;
            font-size: 12px;
        }